/*my name*/
h1 {
	font-family: 'Francois One', sans-serif;
	margin: 15px 0 10px 0;
}

/*content*/
p {
	font-family: 'Open+Sans', sans-serif;
	color: #666;
	font-weight: 300;
	line-height: 150%;
}

.subtext {
	color: #999;
	font-size: 0.875rem;
	font-style: italic;
	margin: 1em 0 2em 0;
}

/*link styling*/
a {
	text-decoration: none;
	color: #30C1F0;
	font-weight: 400;
}
a:hover {
	text-decoration: underline;
}

/*Small screen*/
@media (max-width: 1024px) {
	.about, footer {
		margin: 0 auto;
		padding: 10% 12% 0% 12%;
	}
	h1 {
		font-size: 2rem;
	}
	p {
		font-size: 1.125rem;
		padding-bottom: 1.25rem;
	}
	.fa {
	    font-size: 30px !important;
	    margin-left: 10px;
	}
}

/*Large screen*/
@media (min-width: 1025px) {
    .about {
	  margin: 0 auto;
	  padding: 5% 28% 1% 28%;
	}
	footer {
		margin: 0 auto;
		padding: 0 28% 1% 28%;
	}
    h1 {
  	  font-size: 2.5rem;
    }
    p {
	  font-size: 1.375rem;
	  margin: 2rem 0;
	}
	.fa {
	    font-size: 35px !important;
	    margin-left: 15px;
	}
	.subtext {
		max-width: 80%;
	}
}

