#brand-img {
    /*for favicon2*/
    /*max-width: 175px;*/ 
    max-width: 35px;
    padding-top: 20px;
    padding-left: 25px;
}

/*my name*/
h1 {
	font-family: 'Raleway', sans-serif;
	margin: 15px 0 20px 0;
}

/*content*/
p {
	font-family: 'Roboto', sans-serif;
	line-height: 150%;
	color: #666;
	font-weight: 300;
}

/*extra styling on texts for emphasis*/
/*span {
	border-style: none none dotted none;
	border-color: #eee;
}*/

/*link styling*/
a {
	text-decoration: none;
	color: #FF8B34;
	font-weight: 400;
}
a:hover {
	color: #FE480F;
}

/*highlight styling*/
::selection {
	background: #f0f0f0;
}


/*Small screen*/
@media (max-width: 991px) {
	.about, footer {
		margin: 0 auto;
		padding: 10% 14% 0% 14%;
	}
	h1 {
		font-size: 26px;
	}
	p {
		font-size: 18px;
		/*margin: 0 0 10px 0;*/
	}
	.fa {
	    font-size: 30px !important;
	    text-decoration: none;
	    padding-right: 10px;
	}
}

/*Large screen*/
@media (min-width: 992px) {
    .about, footer {
	  margin: 0 auto;
	  padding: 8% 28% 1% 28%;
	}
    h1 {
  	  font-size: 32px;
    }
    p {
	  font-size: 22px;
	  margin: 25px 0;
	}
	.fa {
	    font-size: 40px !important;
	    text-decoration: none;
	    padding-right: 15px;
	}
}